language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "iojs"
  - "iojs-v1.0.4"
script: "npm run-script test-coverage"
after_script: "./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -R ./coverage"
